@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.Sbody{
    width: 100vw;
    background: rgb(38,38,38);
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(16,22,43,1) 100%);
    overflow: hidden;
    
}
    .servicesTitle{
        font-size: 2vw;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        color: rgb(255, 255, 255);
        width: 100%;
        margin-top: 5vh;
        text-align: center;
    }
    .servicesText1{
        font-size:3.5vw;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: #ffba00;
        width: 100%;
        margin-top: 2vh;
        text-align: center;
    }
    .servicesText2{

        font-size: 8vw;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
    }


    @media screen and (max-width : 850px){
        .servicesTitle{
            font-size: 3.5vw;
           
        }
        .servicesText1{
            font-size:6vw;
           
        }
        .servicesText2{
    
            font-size: 14vw;
           
        }
    
    }