.AboutUsBody{
    width: 100vw;

}
.Head{
    /* background-color: #ffba00; */
    height: 70vh;
    width: 100vw;
    /* background-image: url('/public/blurry-gradient-haikei.svg');
    background-size: cover; */


}
.AUHead{
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5.5rem;
    margin-top: 150px;
    margin-bottom: 50px;
    text-shadow: 5px 5px 10px rgb(25, 25, 25);

}
.AboutDescription{
    width:80%;
    height: 70%;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    padding-top: 20px;

    
}

.AboutDescription h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 700;
    color: #ffba00;
    margin-top: 30px;
}
.AboutDescription p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    margin: 20px;

}

.whyUs{
    color: white;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
}
.UsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}
.OPHead{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffba00;
    text-align: center;
    margin: 50px;
}
@media screen and (max-width:900px) {
    .AUHead{
        font-size: 5rem;
    }
    .Head{
        height: 50vh;
    }
    
}

@media screen and (max-width:400px) {


 .AboutDescription h1{
            font-size: 1rem;
            font-weight: 300;
            margin-top: 0;
        }
        .AboutDescription{
            margin-top: 0;
        }
        
    
}

@media screen and (max-width:1200px) {
    .AboutDescription p{
        font-size: 1rem;
    }
}
@media screen and (max-width:850px) {
    .AboutDescription p{
        font-size: 0.7rem;
        font-weight: 300;
    }
    .AboutDescription h1{
        font-size: 1rem;
        font-weight: 500;
    }
}
@media screen and (max-width:500px) {
    .AUHead{
        font-size: 3.4rem;
        font-weight: 800;
    }
}
@media screen and (min-width:900px) {
    .OPHead{
        font-size: 5rem;
    }
    
}