@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav img{

    width: 100px;
}
ul{
    display: flex;
    list-style: none;

}
li{
    margin: 2rem;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.08 rem;
    color: white;
    transition: all 0.1s ease-in-out;

}
li:hover{
    color: #ffba00;
    font-size: 1.2 rem;
    cursor: pointer;
}
.button{
    padding: 12px;
    background-color:#ffba00;
    color: rgb(44, 44, 44);
    border-radius: 5px;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.08 rem;
}

.navLink{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 858px) {
    li{
        margin: 1rem;
        font-size: 0.9rem;
    }
    .nav img{

        width: 60px;
    }
    .button{
        padding: 7px;
        background-color:#ffba00;
        color: rgb(44, 44, 44);
        border-radius: 2px;
        font-family: "Lato", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 536px){
    .navList{
        display: none;
    }

}